.mat-tab-group{
    height:100%;
}

.mat-tab-group .mat-tab-body-wrapper{
    flex:1; 
    background: #f6f6f6;
}
.task-container-class{
    padding: 20px;
}
.gitrepo-card{
    margin: 10px 0;
}
.gitrepo-card:first-child(1){
    margin: 0;
}

.heading{
    text-align: center;
}
mat-tab-body,mat-tab-header{
    max-width: 1000px;
    margin: 0 auto;
}